.keypad {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 370px;
  padding: 10px;
  background: #f2f2f2;
  user-select: none;
}
.keypad__field {
  width: 100%;
  outline: none;
  border: 1px solid;
  border-color: #999 !important;
  min-height: 32px;
  border-radius: 4px !important;
  background: #fff;
  box-shadow: none !important;
  padding: 3px 10px;
  box-sizing: border-box;
}
.keypad__row {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.keypad__key {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc((100% - 50px) / 10);
  height: 42px;
  border-radius: 5px;
  line-height: 42px;
  background: #fff;
  margin: 3px;
  font-size: 20px;
  text-align: center;
  color: #333;
  cursor: pointer;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  svg {
    width: 30px;
    height: 20px;
    max-width: 100%;
  }
  &.gray {
    background: #b2afbc;
  }
  &.flex {
    flex: 1;
  }
  &.width5 {
    width: calc((100% - 50px) / 10 * 5 + 20px);
  }
}
.keypad__key_num {
  width: calc((100% - 36px) / 6);
  margin-top: 13px;
  float: left;
  &.width2 {
    width: calc((100% - 36px) / 6 * 2 + 6px);
  }
}
.keypad__math {
  width: calc((100% - 36px) / 6 * 2 + 6px);
  height: 157px;
  float: left;
  margin: 13px 3px 3px;
  border-radius: 5px;
  overflow: auto;
  background: #b2afbc;
  &::-webkit-scrollbar {
    width: 5px;
    background: transparent;
  }
  &::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.4);
  }
}
.keypad__key_math {
  width: calc(50% - 6px);
  text-align: center;
  line-height: 42px;
  float: left;
  height: 42px;
  margin: 10px 3px 3px;
  svg {
    width: 20px;
    height: 32px;
    fill: #333;
  }
}
@media (hover: hover) {
  .keypad__key:active {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  }
}
